:root {
  --primary: #e5e5e5;
  --primary-text: #000000;
  --secondary: #000000;
  --secondary-text: #ffffff;
  --accent: #adadad;
  --accent-text: #000000;
  --teambutton: #adadad;
  --teambutton-text: #000000;
  --button: #e5e5e5;
  --button-text: #000000;
}